
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Monoton&display=swap');

*{
box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Monoton", cursive, Arial, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:hover {
    background: #dac371;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/09/Musical-instrument-wallpaper-high-quality.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  /* Position this relative so we can position its descendant using absolute */
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Adjust this to your preference */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Select everything in the header */
header * {
  /* The higher the z-index the more on top or closer to us */
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #f1d99f;
  border: 0;
  border-radius: 50px;
  color: #0b0101;
  font-size: 16px;
  padding: 13px 30px;
}

/* Injecting the btn class via JS */
.btn {
  background-color: #f1d99f;
  border: 0;
  border-radius: 10px;
  color: #0b0101;
  padding: 4px 10px;
}

/* We won't see these styles until we fetch the data from the API */
ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

/* Previous and Next buttons have a class of centered */
.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}